body {
    margin: 0;
    height: 100%;
    background-image: url("Bilder/bundestag.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; /* Center the image horizontally */
  }
.split-2{
  display: flex;
justify-content: center;
gap: 10vw;
padding-left: 20vw;
padding-right: 20vw;
}
.left {
margin-bottom: 17vw;
background-color: #333;
color: #fff;
padding: 10vw;
padding-bottom: 4vw;
padding-top: 4vw;
border-radius: 15%;
z-index: 10;
}
p {
color: #fff;
}
.right {
margin-bottom: 17vw;
background-color: #333;
color: #fff;
padding: 10vw;
padding-bottom: 4vw;
padding-top: 4vw;
border-radius: 15%;
}

.button {
color: #fff;
background-color: rgb(0, 136, 255);
width: 100%;
}

.button span {
  text-wrap: nowrap;
}
@media (max-width: 962px) {
.split-2 {
display: flex;
display: flex;
flex-direction: column;
align-content: center;
gap: 9vw;
justify-content: center;
align-items: center;
margin-bottom: 4vw;
}
.left {
margin: 0;
}
.center {
margin: 0;
}
.right {
margin: 0;
}
}
