.target-list {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    gap: 2.5%;
    margin: 1vw;
}

h4 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 1.5vw "Lato", sans-serif;
    background: -webkit-linear-gradient(156deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.text-box p {
    color: #fff;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.text-box {
background-color: #333;
color: #fff;
padding: 1rem;
border-radius: 0.5rem;
}

.fa-solid {
    background: -webkit-linear-gradient(156deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(255,204,0,1) 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 962px) {
    .target-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
}