body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddd;
    text-align: center;
  }
  
  .header {
    overflow: hidden;
    background-color: #ddd;
    padding: 20px 10px;
  }
  
  .header a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .logo img {
    max-width: 100px;
    max-height: 72.4px;
    display: block;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    color: #333;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #babababd;
  }
  
  .bgimg-1 {
    background-image: url("Bilder/51F06E1B-8BC8-4311-97AC-12E6BCD95E1A_1_201_a.jpeg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
    white-space: nowrap;
  }
  
  .caption span.border {
    background-color: #333;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
    text-align: center;
  }
  
  .cta-button {
    background-color: #333;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
    margin-top: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
  }
  
  .cta-button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.19), 0px 10px 10px rgba(0, 0, 0, 0.23);
  }
  
  footer {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
    font-size: 18px;
  }
  
  .footer-left-top {
    display: flex;
    align-items: center;
  }
  
  .footer-left-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-left-bottom a {
    color: #fff;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
  }
  
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ddd;
    padding-block: 15px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
  }
  
  #toggler,
  .navbar label {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .menu {
      width: 100%;
      max-height: 0;
      overflow: hidden;
    }
    .list {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    .navbar label {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
    }
    #toggler:checked ~ .menu {
      max-height: 100%;
    }
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  .image-container,
  .image-container-left,
  .text-container,
  .text-container-left {
    flex: 1 1 300px;
  }
  
  .img_right,
  .img_left {
    max-width: 100%;
    height: auto;
  }
  
  .supporter-img {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  p {
    padding: 20px;
    color: #777;
  }
  